<%- include("../partials/header", { title: item.name }) %>

    <div class="detail">
        <img src="<%= item.image %>">
        <div class="detail-text">
            <h2>
                <%= item.name %>
            </h2>
            <p>
                <%= item.description %>
            </p>

            <% if (item.price) { %>
                <p class="price">
                    <%= item.price %>
                </p>
                <% } %>
        </div>
    </div>

    <%- include("../partials/footer") %>